# poortego.conf
#
# Poortego Configuration File
#
# Note: the $CONF_DIR will be replaced at runtime 
# with the absolute path of the poortego conf directory.
#

## NEO4J
db_type=neo4j
# neo4j URI - set as appropriate, some neo4j installs may need the "db/data/" path removed
neo4j_uri = http://localhost:7474/db/data/
# If using authentication set neo4j_uri like: http://username:password@host:port/db/data/

## CRITS
# db_type = crits
# mongo_uri = mongodb://localhost:27017/crits
# mongo_user = crits
# mongo_password = <password>

# File storing poortego account info
password_file = $CONF_DIR/poortego.passwd

# Command shell prompt to use for poortego
poortego_prompt = poortego>

# TODO - handle these guys
# Poortego Environment Variables
poortego_debugging = True
poortego_verbose = True
poortego_confirm_actions = True
poortego_logging = True
poortego_log_level = INFO
poortego_log = /var/log/poortego

